.header_logo img {
    height: 140px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.drop-container {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    box-shadow: 3px 6px 20px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.drop-container:hover {
    background: #f1f1f1;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

/* Стили для кнопки выбора файла */
input[type="file"]::file-selector-button {
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    background: #0d45a5;
}

button {
    border: none;
    background: black;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    margin-right: 125px;
}
