<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}" />
        <link rel="stylesheet" href="{% static 'css/manual_style.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Краткая инструкция для поисковика.</h1>
            <div class="info_block">
                <p>
                    В строке поиска доступны 3 аргумента которые можно писать в любом порядке и с любом регистре ЧЕРЕЗ
                    ПРОБЕЛ. <br />
                    Что бы найти все возможные варианты при поиске метизов используйте ОБЯЗАТЕЛЬНО в качестве
                    разделителя '*': Пример 4*12
                </p>
                <img src="{% static '/img/manual/1.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    Четвертый аргумент в строке поиска - это комментарий. В результате отобразится точное совпадение,
                    если у позиции есть коментарий.
                </p>
                <img src="{% static '/img/manual/2.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    Для поиска АРТИКУЛА можно использовать краткую запись состоящую только из цифр, но для более точного
                    совпадения рекомендуется вводить атрикул полностью.
                </p>
                <img src="{% static '/img/manual/3.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    Для поиска КОДА используйте вначале симвал '*'
                    <br />
                </p>
                <img src="{% static '/img/manual/4.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    Для поиска ТОЛЬКО ПО КОММЕНТАРИЮ используйте вначале симвал '-'. <br />
                    Так же доступны четыре аргумента которые можно писать в любом порядке и в любом регистре ЧЕРЕЗ
                    ПРОБЕЛ!
                    <br />
                </p>
                <img src="{% static '/img/manual/5.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    Выбор проекта для сортировки. <br />
                    В левом столбце выберите вкладку "Выбрать проект" <br />
                    Выделите нужные вам позиции, нажмите "Применить фильтр". <br />
                    Поисковые запросы будут фильтроваться относительно выбранных проектов. <br />
                    Что бы убрать сортировку нажмите вкладку "Очистить фильтр"
                    <br />
                </p>
                <img src="{% static '/img/manual/6.png'%}" alt="Картинка" />
            </div>
        </div>
    </body>
</html>
