<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}" />
        <link rel="stylesheet" href="{% static 'css/manual_style.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Инструкция</title>
    </head>
    <body>
        
        <div class="wrapper">
            <div class="link_back">
                <a class="back" href="{% url 'main'%}">Вернуться к поиску</a>
            </div>
            <h1>Краткая инструкция для поисковика.</h1>
            <div class="info_block">
                <p>
                    <strong>Поиск:</strong><br />
                    В строке поиска доступны 4 аргумента :<br> 
                     (Название метиза) (5*6) (Гост,Дин) (А4,А2) которые можно писать в любом порядке и с любым регистром.
                     <strong style="color: brown;"> через пробел.</strong> <br> 
                   <strong style="color: brown;"> A4 И А2 Пишут с русской буквой</strong> <br>
                     Чтобы найти все возможные варианты при поиске метизов, используйте обязательно в качестве   
                    разделителя '*': Пример 4*12. <br>
                    Примечание: не обязательно писать все аргументы, но для более точного совпадения по поиску рекомендуется использовать всё.
                </p>
                <br />
                <div>
                    <img src="{% static '/img/manual/1.png'%}" alt="Картинка" />
                </div>
            </div>
            <div class="info_block">
                <p>
                    <strong>Поиск и комментарий</strong><br />
                    Пятый аргумент в строке поиска - это комментарий. (не обязательный) В результате отобразится точное совпадение,
                    если у позиции есть комментарий.
                </p>
                <br />
                <img src="{% static '/img/manual/2.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    <strong>Поиск Артикула</strong><br />
                    Для поиска артикула можно использовать краткую запись, состоящую только из цифр, но для более
                    точного совпадения рекомендуется вводить артикул полностью.
                </p>
                <br />
                <img src="{% static '/img/manual/3.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    <strong>Поиск Кода</strong><br />
                    Для поиска кода используйте вначале символ  <strong style="color: brown;">*</strong>.
                </p>
                <br />
                <img src="{% static '/img/manual/4.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    <strong>Поиск Комментария</strong><br />
                    Для поиска  <strong style="color: brown;">ТОЛЬКО ПО КОММЕНТАРИЮ</strong> используйте вначале символ <strong style="color: brown;">-</strong>.
                </p>
                <br />
                <img src="{% static '/img/manual/5.png'%}" alt="Картинка" />
            </div>
            <div class="info_block">
                <p>
                    <strong>Сортировка</strong><br />
                    Для сортировки по проектам нажмите в левой колонке <br>
                    "Выберать проект". На предложенной странице выберите нужные для сорировки объекты и нажмите "Применить фильтр". В левом столбце вы увидите выбранные элементы по которым будет проводится сортировка. Что бы убрать сортировку нажмите в левой колонке "Очистить фильтр"
                </p>
                <br />
                <img src="{% static '/img/manual/6.png'%}" alt="Картинка" />
            </div>

            
            </div>
        </div>
    </body>
</html>
