<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}" />
    <link rel="stylesheet" href="{% static 'css/review.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}" />
    <title>Отзывы</title>
    </head>
<body>
    <div class="header_logo">
        <a href="{% url 'main' %}"><img src="{% static 'img/logo.jpg' %}" alt="" /></a>
      </div>
    <h1 style="text-align: center;font-size:20px;font-weight: bold">Отзыв о сервисе</h1>
    <div class="message_div">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class='form_div'>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оставить отзыв</button>
        </form>
    </div>
</body>
</html>
