<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sahr.css' %}" />
    <title>С.А.ХР</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        
        <div class="info_find_container">
          <div class="header_find_container">
           <form action="" method='POST'>
            {% csrf_token %}
            <input class='check_article' type="text" placeholder='артикул' name='article' required>
            <input class='views_title' type='text' placeholder='Название' name='title' required>
            <input class='comment' type='text' placeholder='Коментарий' name='comment'>
            <input class='write_address' type="text" placeholder='адрес' name='address' required >
            <input class='hidden_id' type="text" hidden name='id'>
            <select class='selectElement' name="select" size=6 >
            
            </select>
            <button>Сохранить</button>
           </form>

           {{error_save}}

         
        <div class="header_user_account">
          {% if request.user.is_authenticated %}
          <img src="{% static 'img/user_icon.png' %}" alt="" />
          <h3>{{ user.username }}</h3>
          <p class="auth_text">
            <a class="auth_text" href="{% url 'logout' %}">Выход</a>
          </p>
          {% else%}
          <p class="auth_text">
            <a href="{% url 'login' %}">Войти</a>
          </p>
          {% endif %}
       </div>
      
      
      </header>
      <div class="table_div">
        <table>
          <thead>
            <tr>
              <th>Партия</th>
              <th>Артикул</th>
              <th>Номенклатура</th>
              <th>Адрес</th>
              <th>Единица</th>
              <th>Коментарий</th>
              <th>Дата</th>
              <th>Действие</th>
            </tr>
          </thead>
          {% for t in data_table %}
          <tbody>
            <tr>
              <td class="title_remains">{{t.party}}</td>
              <td class="article_remains">{{t.article}}</td>
              <td class="title_remains">{{t.title}}</td>
              <td class="address_remains">{{ t.address }}</td>
              <td class="base_unit_remains">{{t.base_unit}}</td>
              <td class="comment_remains">{{t.comment}}</td>
              <td class="comment_remains">{{t.date}}</td>
              <td class="quantity_remains"><a href="{% url 'del_row_shhr' t.id %}">Удалить</a></td>
            </tr>
          </tbody>
          
          {% endfor %}
        </table>
      </div>
    
    </div>
    <script src='{% static 'js/sahr.js'%}'></script>
  </body>
</html>
