<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sahr.css' %}" />
    <title>С.А.ХР</title>
  </head>
  <body>
      <header >
          <div class="inputs_div">
            <form action="" method='POST' id='sahr_form'>
                {% csrf_token %}
                <div>
                <input class='check_article' type="text" placeholder='Артикул' name='article' required>
                </div>
                <div>                
                  <input class='views_title' type='text' placeholder='Название' name='title' required>
                </div>
                <div>                
                  <input class='comment' type='text' placeholder='Комментарий' name='comment'>
                </div>
                <div>                
                  <input class='write_address' type="text" placeholder='Адрес' name='address' required >
                </div>
                <div>               
                  <input class='hidden_id' type="text" hidden name='id'>
                </div>
                <div>  
                  <button class='search-button'  form='sahr_form'>Сохранить</button>
                </div> 
            </form>
          </div>  
          <div class="select_div">
            <select class='selectElement' name="select" size=6 form='sahr_form'  required>
            </select>
          </div>   
         <div class="input_container">
          <div class="popup_sahr">
            <div class='sahr_details_info'>Артикул</div>
            <div class='sahr_details_article' ></div>
            <div class='sahr_details_article' >Остаток:</div>
            <div class='sahr_details_sum'> </div>
          </div>
          <div>
            <form action="" method='POST'>
              {% csrf_token %}
              <input class='search-input_sahr' type="text" name='value_input'>
              <button class="search-button" name='search_sahr_form'  >Найти 🔎</button>
              <p style='color:red; font-size: 20px;'>{{error_search}}</p>
            </form>
          </div>
           
        </div>
          
        <div class="header_user_account">
          {% if request.user.is_authenticated %}
          <img src="{% static 'img/user_icon.png' %}" alt="" />
          <h3>{{ user.username }}</h3>
          <p class="auth_text">
            <a class="auth_text" href="{% url 'logout' %}">Выход</a>
          </p>
          {% else%}
          <p class="auth_text">
            <a href="{% url 'login' %}">Войти</a>
          </p>
          {% endif %}
        </div>
    </header>  
     
      </div>
      <div class="table_div">
        <table>
          <div>  
            <p style="text-align: center; color:red">{{error_save}}</p>
          </div>
          <thead>
            <tr>
              <th>Партия</th>
              <th>Артикул</th>
              <th>Номенклатура</th>
              <th>Адрес</th>
              <th>Единица</th>
              <th>Коментарий</th>
              <th>Дата</th>
              <th>Действие</th>
            </tr>
          </thead>
          {% for t in data_table %}
          <tbody>
            <tr data-id="{{ t.index_remains }}" class="{% if not t.index_remains %}red-row{% endif %}">              <td class="title_remains">{{t.party}}</td>
              <td class="article_remains">{{t.article}}</td>
              <td class="title_remains">{{t.title}}</td>
              <td class="address_remains">{{ t.address }}</td>
              <td class="base_unit_remains">{{t.base_unit}}</td>
              <td class="comment_remains">{{t.comment}}</td>
              <td class="comment_remains">{{t.date}}</td>
              <td class="delete_shr_row"><a href="{% url 'del_row_shhr' t.id %}">Удалить</a></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
    <script src='{% static 'js/sahr.js'%}'></script>
  </body>
</html>
