<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/update_style.css' %}" />
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Обновить</title>
    </head>
    <body>
        <div class="main_wrapper">
            <div class="back">
                <a href="{%url 'main' %}">Назад</a>
            </div>
            {{task_id}}
            
            <div class="load_file">
                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}
                    <label for="file-upload" class="drop-container" id="dropcontainer">
                        <p style="color: red">{{error}}</p>
                        <span class="drop-title">Перетащите файл сюда</span> или
                        <input type="file" id="file-upload" name="doc" accept=".xls, .xlsx" required />
                        <button class="button">Загрузить</button>
                    </label>
                </form>
            </div>
            <div class="error_load_file">
                <h1>Произошла ошибка загрузки данных!!</h1>
            </div>
            <div class="load_animation">
                <div class="load_info">
                    <p>Пожалуйста подождите! Данные обрабатываются!</p>
                </div>
                <div class="animate_process">
                    <img src="{% static '/img/loading-71.gif' %}" alt="" />
                </div>
            </div>
        </div>
        <script>
            const taskId = "{{ task_id }}";
        </script>
        <script src="{% static 'js/query.js' %}"></script>
    </body>
</html>
