<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css'%}">
    <link rel="stylesheet" href="{% static 'css/comers.css'%}">
    <link rel="stylesheet" href="{% static 'css/data_form.css'%}">
    <title>Недопоставки</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="find">
                <p>Найти</p>
            </div>
            <div class="input_data" onclick="openPopup('input_data_form')">
                <p>Ввести данные</p>
            </div>
            <div class="user_block">
                <div class="logout_button">
                    <p>Выход</p>
                </div>
            </div>
        </header>
        <div class="menu_windows">
            <div class="menu_item">
                <ul>
                    <li><button>1</button></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                    <li><button>4</button></li>
                    <li><button>5</button></li>
                    <li><button>1</button></li>
                </ul>
            </div>
            <div class="input_data_form">
                <!-- Ваш контент для ввода данных -->
                <form  method="post" action={% url 'input_data'%}>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Сохранить</button>
                </form>
            </div>
            <div class="edit_menu">
                <p>Редактировать позицию</p>
                <p>Установить статус</p>
            </div>
        </div>
        <div class="overlay" onclick="closePopup()"></div>
        <div class="container">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Номер накладной</th>
                            <th>Дата</th>
                            <th>Поставщик</th>
                            <th>Артикул</th>
                            <th>Название</th>
                            <th>Единица измерения</th>
                            <th>Количество</th>
                            <th>Комментарий</th>
                            <th>Специалист</th>
                            <th>Ведущий</th>
                            <th>Статус</th>
                            <th>Примечания</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.invoice_number }}</td>
                                <td>{{ invoice.date }}</td>
                                <td>{{ invoice.supplier }}</td>
                                <td>{{ invoice.article }}</td>
                                <td>{{ invoice.name }}</td>
                                <td>{{ invoice.unit }}</td>
                                <td>{{ invoice.quantity }}</td>
                                <td>{{ invoice.comment }}</td>
                                <td>{{ invoice.specialist }}</td>
                                <td>{{ invoice.leading }}</td>
                                <td>{{ invoice.status.name }}</td>
                                <td>{{ invoice.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src='{% static 'js/popups.js'%}'></script>
    <script src="{% static 'js/auto_fields.js' %}"></script>
</body>
</html>
