.wrapper {
    border: 1px solid black;
    height: 100vh;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 100px;
}
.menu_windows {
    display: flex;
}

.menu_item {
    border: 1px solid black;
    height: 500px;
    width: 250px;
}

.input_data_form {
    border: 1px solid black;
    height: 500px;
    width: 400px;

}